<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title> Ionic Native Keyboard Challenge </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content> asd </ion-content>

  <ion-footer class="ion-no-border">
    <div class="footer-inner">

      <div class="textarea-wrapper">
        <ion-button fill="clear" shape="round" size="large" [mediaPickerToggle]="MediaPickerMediaType.Emoji">
          <ion-icon slot="icon-only" src="/icons/very-satisfied.svg"></ion-icon>
        </ion-button>

        <input mediaPickerInput placeholder="Type message here...">
      </div>

      <ion-button fill="clear" shape="round" size="large">
        <ion-icon slot="icon-only" src="/icons/rocket-launch.svg"></ion-icon>
      </ion-button>
    </div>

    <media-picker-mobile-wrapper
      (mediaSelect)="onMediaSelect($event)"
    ></media-picker-mobile-wrapper>
  </ion-footer>
</ion-app>
